@model IEnumerable<CaseloadManager.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Assessments</h1>
<br />
<p>
    <a class="btn btn-outline-dark btn-sm" asp-action="Create">Add Assessment</a>
</p>
<br />
<div class="assessment-flex">
    <div class="assessment-img-flex">
        <div>
            <img data-aos="flip-right" src="~/css/pen-graph.jpg" alt="Therapy Session" height="200" width="350">
        </div>
        <br/>
        <div>
            <img src="~/css/pen-graphing-paper.jpg" alt="Therapy Session" height="200" width="350">
        </div>
    </div>
    <div>
        <table class="table table-borderless assessment-table table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TestName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YoungestAllowed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OldestAllowed)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestName)
                        </td>
                        <td class="assessment-textCenter">
                            @Html.DisplayFor(modelItem => item.YoungestAllowed)
                        </td>
                        <td class="assessment-textCenter">
                            @Html.DisplayFor(modelItem => item.OldestAllowed)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.AssessmentId">Details</a> |*@
                            <a class="btn btn-outline-dark btn-sm" asp-action="Delete" asp-route-id="@item.AssessmentId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>