@model IEnumerable<CaseloadManager.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Assessments</h1>

<p>
    <a class="btn btn-outline-dark btn-sm " asp-action="Create">Add Assessment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YoungestAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldestAllowed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YoungestAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldestAllowed)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssessmentId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.AssessmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
