@model CaseloadManager.Models.ClientAssessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientAssessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandarizedScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandarizedScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdministered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdministered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstInitial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assessment.TestName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientAssessmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
