@model CaseloadManager.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstInitial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstInitial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionsPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionsPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
