@model CaseloadManager.Models.ClientEditViewModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .HighlightStandardizedScore {
        color: #F65c78;
    }

    .HighlightStandardizedScoreGreen {
        color: #C3F584;
    }

    .delete-section {
        display: inline;
    }
</style>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Facility.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Facility.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.StatusType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.StatusType.Name)
        </dd>
    </dl>
    @if (Model.Client.StatusTypeId != 1 && Model.Client.StatusTypeId != 5 && Model.Client.StatusTypeId != 4)
    {
        <div>
            @Html.ActionLink("Add Assessment to Client", "Create", "ClientAssessments", new { clientId = @Model.Client.ClientId }, null)
        </div>
        <br />
    }


    @if (ViewBag.HasAssessment == "true")
    {
        <p>Test(s) Administered: </p>
        <dl class="row">
            @foreach (var item in Model.ClientAssessments)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.Assessment.TestName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Assessment.TestName)
                </dd>
                @if (item.StandarizedScore < 78)
                {
                    <dt class="col-sm-2, HighlightStandardizedScore">
                        @Html.DisplayNameFor(modelItem => item.StandarizedScore)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.StandarizedScore)
                    </dd>
                }
                else
                {
                    <dt class="col-sm-2, HighlightStandardizedScoreGreen">
                        @Html.DisplayNameFor(modelItem => item.StandarizedScore)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.StandarizedScore)
                    </dd>
                }

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.DateAdministered)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.DateAdministered)
                </dd>
            }
            @if (Model.Client.StatusTypeId == 2)
            {
                @*<div>
                    <a asp-action="Edit" asp-route-id="@Model.Client.ClientId">Eligible</a> |
                    <a asp-action="Edit" asp-route-id="@Model.Client.ClientId">Ineligible</a>
                </div>*@
            }
        </dl>
        <br />
        @if (Model.Client.StatusTypeId == 3 || Model.Client.StatusTypeId == 5 && ViewBag.HasAssessment == "true")
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client.Diagnosis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Diagnosis)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client.SessionsPerWeek)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.SessionsPerWeek)
            </dd>
            @if (Model.Client.StatusTypeId == 3)
            {
                @Html.ActionLink("Add Goal to Client", "Create", "Goals", new { clientId = @Model.Client.ClientId }, null)
                @if (ViewBag.HasGoal == "true")
                {
                    <p>Client Goals: </p>
                    <dl class="row">
                        @foreach (var item in Model.Client.Goals)
                        {

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(modelItem => item.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(modelItem => item.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.Description)
                            </dd>
                            <div class="delete-section">
                                @Html.ActionLink("Delete Goal", "Delete", "Goals", new { id = item.GoalId }, null)
                            </div>
                        }
                    </dl>
                }
                <br />
                @Html.ActionLink("Log a therapy session", "Create", "TherapySessions", new { clientId = @Model.Client.ClientId }, null)
            }
        }
    }





    <div>
        <a asp-action="Edit" asp-route-id="@Model.Client.ClientId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
