@model IEnumerable<CaseloadManager.Models.Client>

@{
    ViewData["Title"] = "Index";
}

    <style>
        .HighlightStatusType1 {
            background-color: #F65c78;
        }
        .HighlightStatusType2 {
            background-color: #FFD271;
        }
        .HighlightStatusType3 {
            background-color: #C3F584;
        }
        .HighlightStatusType4 {
            background-color: #FFF3AF;
        }
        .HighlightStatusType5 {
            background-color: #BBBBBB;
        }

        .page_Header {
            display: flex;
            justify-content: center;
        }
    </style>

<h1>Caseload</h1>

<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Clients" asp-action="Index">
    <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Search clients by name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<p>
    <a asp-action="Create">Add a client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.StatusTypeId == 1) { 
        <tr class="HighlightStatusType1">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
            </td>
        </tr>
     }
     else if (item.StatusTypeId == 2) {
    <tr class="HighlightStatusType2">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
        </td>
    </tr>
    }
    else if (item.StatusTypeId == 3)
    {
    <tr class="HighlightStatusType3">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
        </td>
    </tr>
    }
    else if (item.StatusTypeId == 4)
    {
    <tr class="HighlightStatusType4">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
        </td>
    </tr>
    }else if (item.StatusTypeId == 5)
    {
    <tr class="HighlightStatusType5">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
        </td>
    </tr>
    }
}
    </tbody>
</table>
