@model IEnumerable<CaseloadManager.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<style>
    .HighlightStatusType1 {
        background-color: #F65c78;
    }

    .HighlightStatusType2 {
        background-color: #FFD271;
    }

    .HighlightStatusType3 {
        background-color: #C3F584;
    }

    .HighlightStatusType4 {
        background-color: #FFF3AF;
    }

    .HighlightStatusType5 {
        background-color: #BBBBBB;
    }

    .page_Header {
        display: flex;
        justify-content: center;
    }
</style>
@*
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <div class="toast" autohide: false style="position: absolute; top: 0; right: 0;">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Screenings</strong>
                    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
            </div>
    <div class="toast-body">
        $"you have {statusTypeId.Count()} screenings today"
    </div>
        </div>
    </div> @**@

<h1>My Caseload</h1>
<br />
@*Search bar*@
<div class="container, top-caseload">
    <p>
        <a class="btn btn-outline-dark btn-sm " asp-action="Create">Add a client</a>
    </p>
    <div class="search">
        <form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Clients" asp-action="Index">
            <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="clients by last name" aria-label="Search">
            <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
        </form>
    </div>

    <div class='my-legend'>
        <div class='legend-title'>Client Status Key</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span style='background:#F65c78;'></span>Needs Screening</li>
                <li><span style='background:#FFD271;'></span>Needs Assessment</li>
                <li><span style='background:#C3F584;'></span>Eligible</li>
                <li><span style='background:#FFF3AF;'></span>Ineligible</li>
                <li><span style='background:#BBBBBB;'></span>Discharged</li>
            </ul>
        </div>
    </div>
    <style type='text/css'>
        .my-legend .legend-title {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 90%;
        }

        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }

            .my-legend .legend-scale ul li {
                font-size: 80%;
                list-style: none;
                margin-left: 0;
                line-height: 18px;
                margin-bottom: 2px;
            }

        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
        }

        .my-legend .legend-source {
            font-size: 70%;
            color: #999;
            clear: both;
        }

        .my-legend a {
            color: #777;
        }
    </style>
    <br />
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                @*@Html.DisplayNameFor(model => model.FullName)*@
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
                @*@Html.DisplayNameFor(model => model.StatusType)*@
            </th>
            <th>
                @Html.ActionLink("Facility", "Index", new { sortOrder = ViewBag.FacilitySortParm })
                @*@Html.DisplayNameFor(model => model.Facility.Name)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.StatusTypeId == 1)
            {
                <tr class="HighlightStatusType1">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
                    </td>
                </tr>
            }
            else if (item.StatusTypeId == 2)
            {
                <tr class="HighlightStatusType2">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
                    </td>
                </tr>
            }
            else if (item.StatusTypeId == 3)
            {
                <tr class="HighlightStatusType3">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
                    </td>
                </tr>
            }
            else if (item.StatusTypeId == 4)
            {
                <tr class="HighlightStatusType4">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
                    </td>
                </tr>
            }
            else if (item.StatusTypeId == 5)
            {
                <tr class="HighlightStatusType5">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a class="btn btn-outline-dark btn-sm" asp-action="Discharge" asp-route-id="@item.ClientId">Discharge</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
