@model IEnumerable<CaseloadManager.Models.Facility>

@{
    ViewData["Title"] = "Index";
}

<h1>My Facilities</h1>

<p>
    <a class="btn btn-outline-dark btn-sm " asp-action="Create">Add a Facility</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityType.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.FacilityId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.FacilityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacilityId">I no longer work here</a>
            </td>
        </tr>
}
    </tbody>
</table>
